<h1>Instan(t)ces</h1>
<form action="/instances_result">
  <input type="text" name="string" class="form-control" placeholder="Enter a sentence">
    <input type="text" name="word" class="form-control" placeholder="Enter a word to check for">

  <button type="submit" class="btn btn-info">Get Schwifty</button>
</form>
