<div id="results">
  <h2>Sentence: <em>"<%= @string %>"</em></h2>
  <h2>Word: <em>"<%= @word %>"</em></h2>
  <h2>Instances: <%= @results %></h2>
  <a href="/"><button type="button" name="back" class="btn btn-default">Back to Gazorpazorp</button></a>
</div>
